:root {
  /*Color*/
  --preview-title-icon-color: #0059ab;
  --search-font-color: rgb(233, 231, 231);
  --black-color: #333;
  --white-color: #fff;
}

.container {
  margin-left: 300px;
  transition: margin-left 0.2s ease-in;
}

.container.inactive {
  margin-left: 80px;
}

.home {
  margin: 150px 100px;
  display: flex;
  width: 1200px;
}

.preview-container {
  padding: 0;
}

.preview-container-title {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.preview-container-title .preview-title-icon {
  position: relative;
  top: 4px;
  color: var(--preview-title-icon-color);
}

.preview-content-list {
  border: 1px solid gray;
}
.preview-content {
  padding: 0px;
}

.preview-content .content:hover {
  background-color: red;
  cursor: pointer;
}
