:root {
  /*Color*/
  --preview-title-icon-color: #0059ab;
  --search-font-color: rgb(233, 231, 231);
  --black-color: #333;
  --white-color: #fff;
}

.home {
  margin: 200px;
  display: flex;
}

/* ------Side Menu----- */
.container {
  margin-left: 300px;
  transition: margin-left 0.2s ease-in;
}

.container.inactive {
  margin-left: 80px;
}

.preview-title {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.preview-title .preview-title-icon {
  color: var(--preview-title-icon-color);
}

.preview-content {
  width: 500px;
  height: 500px;
  background-color: greenyellow;
}

.preview-content .post {
  display: flex;
  justify-content: space-around;
  background-color: red;
}

.preview-content .post .post-title {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.preview-content .post .post-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.preview-content .post .post-meta p {
  font-size: 24px;
}

.preview-content .post .post-meta .avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
