:root {
  /*Color*/
  --color-white-gray: #eee;

  /*Font size*/
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  --current-font: "Noto Sans KR", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  background-color: var(--color-white-gray);
  font-family: var(--current-font);
}

.side-menu {
  position: fixed;
  background: #000;
  width: 300px;
  height: 100%;

  box-sizing: border-box;
  padding: 30px 20px;
}

.top-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.side-menu .top-section .logo {
  overflow: hidden;
  width: 250px;
}

.side-menu .top-section .logo img {
  max-width: 100%;
  max-height: 100%;
}
.side-menu .top-section .toggle-menu {
  color: #eeeeee;
}

.side-menu .top-section .toggle-menu .toggle-menu__item {
  font-size: 50px;
}
