:root {
  /*Color*/
  --sidebar-background-color: #0059ab;
  --search-font-color: rgb(233, 231, 231);
  --black-color: #333;
  --white-color: #fff;

  /*Font size*/
  --font-sidebar-menu-size: 16px;
  --font-sidebar-menu-weight: 400;
  --font-sidebar-submenu-size: 20px;
  --font-sidebar-submenu-weight: 200;
  --font-sidebar-profile-size: 20px;
  --font-sidebar-profile-weight: 200;

  --main-font: "Noto Sans KR", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  background-color: var(--color-white-gray);
  font-family: var(--main-font);
}
