:root {
  /*Color*/
  --sidebar-background-color: #0059ab;
  --search-font-color: rgb(233, 231, 231);
  --black-color: #333;
  --white-color: #fff;

  /*Font size*/
  --font-sidebar-menu-size: 16px;
  --font-sidebar-menu-weight: 400;
  --font-sidebar-submenu-size: 20px;
  --font-sidebar-submenu-weight: 200;
  --font-sidebar-profile-size: 20px;
  --font-sidebar-profile-weight: 200;

  --main-font: "Noto Sans KR", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  background-color: var(--color-white-gray);
  font-family: var(--main-font);
}

/* ------Side Menu----- */

.side-menu {
  position: fixed;
  background: var(--sidebar-background-color);
  width: 300px;
  height: 100%;
  box-sizing: border-box;
  padding: 30px 20px;
  transition: width 0.2s ease-in;
}

.side-menu .top-section {
  display: relative;
}

.side-menu .top-section .logo {
  overflow: hidden;
  width: 400px;
  display: flex;
}

.side-menu .top-section .logo img {
  max-width: 30%;
  max-height: 30%;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg)
    brightness(103%) contrast(103%);
}

.side-menu .top-section .logo #logo-title {
  display: inline-block;
  position: absolute;
  font-size: 30px;
  color: var(--white-color);
  top: 75px;
  left: 60px;
}

.side-menu .top-section .toggle-menu {
  color: var(--white-color);
  position: absolute;
  width: 30px;
  height: 30px;
  top: 100px;
  right: 70px;
  transform: translateY(-50%);
  display: flex;
  cursor: pointer;
}

.side-menu .top-section .toggle-menu .toggle-menu-btn {
  display: inline-block;
}

.side-menu .search-controller {
  color: #fff;
  position: relative;
}

.side-menu .search-btn {
  color: var(--search-font-color);
  position: absolute;
  background: transparent;
  border: 0;
  font-size: 20px;

  top: 60%;
  left: 5px;
  transform: translateY(-50%);
}

.side-menu .search-btn .search-icon {
  font-size: 30px;
}

.side-menu .search-controller input[type="text"] {
  border: 0;
  outline: none;
  height: 35px;
  background: var(--black-color);
  border-radius: 5px;
  display: block;
  margin: 20px 0;
  width: 100%;

  box-sizing: border-box;
  padding-left: 40px;
  color: var(--search-font-color);
}

.divider {
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background: var(--black-color);
}

.side-menu .main-menu {
  margin: 50px 0;
  display: flex;
}

.side-menu .main-menu .menu-item {
  color: #333;
  text-decoration: none;
  font-size: var(--font-sidebar-menu-size);
  font-weight: var(--font-sidebar-menu-weight);
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.side-menu .main-menu .menu-item .menu-icon {
  display: inline-flex;
  width: 40px;
  height: 40px;
  line-height: 40px;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
}

.side-menu .main-menu .menu-item .menu-title {
  position: absolute;
  left: 60px;
  color: var(--white-color);
  overflow: hidden;
}

.side-menu .main-menu .sub-menu {
  font-weight: var(--font-sidebar-submenu-weight);
  font-size: var(--font-sidebar-submenu-size);
  color: var(--white-color);

  margin-left: 20px;
  border-left: 1px solid;
  box-sizing: border-box;
  padding-left: 30px;

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in;
}

.side-menu .main-menu .sub-menu.active {
  max-height: 100%;
}

/* side-menu-profile */
.side-menu-profile {
  margin-top: 10px;
  width: 100%;
  height: 200px;
  background-color: rgb(9, 201, 201);
  display: flex;
}

.side-menu-profile .avatar {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
}

.side-menu-profile .avatar img {
  max-width: 100%;
}

.side-menu-profile .user-info {
  font-weight: var(--font-sidebar-profile-weight);
  font-size: var(--font-sidebar-profile-size);
  display: inline-block;
  margin: 10px 10px;
  overflow: hidden;
}

/* inactive */
.side-menu.inactive {
  width: 80px;
}

.side-menu.inactive .top-section .toggle-menu {
  right: -50px;
  color: var(--black-color);
}

.side-menu.inactive .top-section .logo img {
  filter: invert(17%) sepia(0%) saturate(1019%) hue-rotate(141deg)
    brightness(96%) contrast(89%);
  /* https://codepen.io/sosuke/pen/Pjoqqp */
}

.side-menu.inactive .main-menu .menu-item .menu-title {
  display: none;
}

/* ------Side Menu----- */
.container {
  margin-left: 300px;
  transition: margin-left 0.2s ease-in;
}

.container.inactive {
  margin-left: 80px;
}
